*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
    text-wrap: balance;
} 

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
}

body {
  font-family: "Poppins", sans-serif;
  background: #d68d8d;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/images/nairobi.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px 0;
    color: white;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.5;
}

header h2 {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 32px;
}

header h3 {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 5px;
}

header a {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    background: white;
    padding: 12px 10px;
    color: rgb(48, 44, 44);
}

footer {
    color: white;
    background-image: linear-gradient(rgb(132, 97, 97,0.9), rgb(132, 97, 97,0.9)), url(/images/footer1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
}

section {
    max-width: 1060px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 34px;
}

footer h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 30px;
    margin-bottom: 18px;
}

footer p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    opacity: 0.9;
}

footer li {
    list-style: none;
}

footer a {
    color: white;
    opacity: 0.7;
    line-height: 1.5;
}

@media (max-width: 800px) {
    header {
        padding: 54px 0;
    }
    header h1 {
        font-size: 3rem;
    }
    header h2 {
        font-size: 1.25rem;
    }
    header h3 {
        font-size: 0.9rem;
    }
    header a {
        font-size: 0.8rem;
    }
}


