:root {
    --primary-color: rgb(39, 33, 66, 100%);
    --secondary-color: #A56C87;
    --white-color: #EAE9E5;
    --black-color: rgb(0, 0, 0, 100%);

    --main-heading: "Playfair Display", serif;
    --sub-heading: "Poppins", serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
    text-wrap: balance;
} 

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
}

body {
    font-family: var(--sub-heading);
    background-color: #f5f0f0;
}

.hero-section {
    position: relative;
    text-align: center;
    padding: 80px 0 60px 0;
    background-image: url(/images/keyboard2.jpg);
    background-size: cover;
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images/keyboard2.jpg);
    background-size: cover;
    filter: blur(10px);
    z-index: 2;
}

.hero {
    position: relative;
    z-index: 2;
}

.hero-section p {
    font-family: var(--sub-heading);
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--white-color);
    margin: 0;
}

.hero-section h1 {
    font-family: var(--main-heading);
    font-size: 6rem;
    font-weight: bold;
    color: var(--white-color);
    line-height: 1.2;
}

.hero-section h2 {
    font-family: var(--sub-heading);
    color: #998C93;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2;
}

.about-section {
    padding: 130px 26px;
}

.about-section h1 {
    font-size: 4rem;
    line-height: 80px;
    font-family: var(--main-heading);
}

.about-section h2 {
    font-size: 1.125rem;
    font-family: var(--sub-heading);
}

.about-section-content {
    margin: 0 30px 30px 30px;
}

.about-section-content h2 {
    color: #998C93;
}

.about-section-content p {
    opacity: 0.9;
}

.tracy-pic {
    width: 100%;
    height: auto;
}

.start-button {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-size: 1.125rem;
    font-weight: normal;
    border-radius: 36px;
    padding: 18px 30px;
    transition: 200ms;
}

.start-button:hover {
    background-color: var(--secondary-color);
    color: white;
    transform: scale(1.2);
}

.project-link {
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 18px 30px;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    width: 40%;
}

.see-project {
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 18px 30px;
    width: 22%;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 38px;
    transition: 200ms;
}

.see-project:hover {
    color: var(--black-color);
    border: 1px solid var(--secondary-color);
    color: #A56C87;
    transform: scale(1.1);
}

.project-link:hover {
    color: var(--black-color);
    border: 1px solid var(--secondary-color);
    padding: 18px 30px;
}

h2 {
    font-size: 4rem;
    color: var(--black-color);
    font-family: var(--main-heading);
}

.project-details {
    font-size: 1rem;
    opacity: 0.7;
    line-height: 30px;
}

@media (max-width: 992px) {
    hero-section p {
        font-size: 1.85rem;
    }

    .hero-section h1 {
        font-size: 2.75rem;
        line-height: 2;
    }

    h5 {
        font-size: 1.0rem;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    h2 {
        font-size: 2.75rem;
        margin-top: 48px;
    }

    .container {
        text-align: center;
    }
}

