:root {
    --primary-color: rgb(39, 33, 66, 100%);
    --secondary-color: rgb(108, 99, 255, 100%);
    --hero-bcg-color: #F9F7FE;
    --black-color: rgb(0, 0, 0, 100%);
    --main-heading: "Playfair Display", serif;
    --sub-heading: "Poppins", serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
    text-wrap: balance;
} 

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
}

body {
    font-family: var(--sub-heading);
}

.hero-section {
    padding: 80px 0 60px 0;
    text-align: center;
    background-color: var(--hero-bcg-color);
}

.hero-section p {
    font-family: var(--sub-heading);
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0;
}

.hero-section h1 {
    font-family: var(--main-heading);
    font-size: 6rem;
    font-weight: bold;
    color: var(--black-color);
    line-height: 1.2;
}

.hero-section h2 {
    font-family: var(--sub-heading);
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2;
}

.start-button {
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-size: 1.125rem;
    font-weight: normal;
    border-radius: 4px;
    padding: 18px 30px;
}

.project-link {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 18px 30px;
    font-weight: 600;
}

.project-link:hover {
    color: var(--black-color);
    border: 1px solid var(--secondary-color);
    padding: 18px 30px;
}

h2 {
    font-size: 4rem;
    color: var(--black-color);
    font-family: var(--main-heading);
}

.project-details {
    font-size: 1rem;
    opacity: 0.7;
    line-height: 30px;
}

@media (max-width: 992px) {
    hero-section p {
        font-size: 1.85rem;
    }

    .hero-section h1 {
        font-size: 2.75rem;
        line-height: 2;
    }

    h5 {
        font-size: 1.0rem;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    h2 {
        font-size: 2.75rem;
        margin-top: 48px;
    }

    .container {
        text-align: center;
    }
}

