:root {
    --primary-color: rgb(39, 33, 66, 100%);
    --secondary-color: #f9f7fe;
    --branding-color: #A56C87;
    --heading-one-color: #16070e;
    --heading-two-color: #16070e;
    --work-section-bg-color: #ffeef6;
    --white-color: #ffe9fe;
    --black-color: rgb(0, 0, 0, 100%);

    --main-heading: "Playfair Display", serif;
    --sub-heading: "Poppins", serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
    text-wrap: balance;
} 

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
}

body {
    font-family: var(--sub-heading);
}

nav {
    padding: 14px 0;
}

nav img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    line-height: 58px;
    margin-left: 28px;
}

.nav-section {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: var(--branding-color);
}

nav a:hover {
    color: #998C93;
}

.active a {
    color: #941651; 
    font-weight: bold; 
}

.hero {
    background-color: var(--secondary-color);
    padding: 80px 20px;
    text-align: center;
}

.hero p {
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--heading-color);
    margin: 0;
}

.hero h1 {
    font-family: var(--main-heading);
    font-size: 6rem;
    font-weight: bold;
    color: var(--heading-color);
    line-height: 1.2;
}

.hero h2 {
    color: #998C93;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2;
}

header .start-button {
    color: var(--secondary-color);
    background-color: var(--branding-color);
    font-size: 1.125rem;
    font-weight: normal;
    border-radius: 36px;
    padding: 18px 38px;
    transition: 200ms;
}

header .start-button:hover {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    transform: scale(1.2);
}

.project-details {
    font-size: 1rem;
    opacity: 0.7;
    line-height: 30px;
}

.project-link {
    color: var(--white-color);
    background-color: var(--branding-color);
    padding: 18px 30px;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    width: 40%;
}

.project-link:hover {
    color: var(--black-color);
    border: 1px solid var(--branding-color);
    padding: 18px 30px;
}





.project {
    background-color: #f5f0f0;
}


.content-section {
    padding: 160px 26px;
}

.content-section h1, 
.work-section h1 {
    font-size: 4rem;
    line-height: 80px;
    font-family: var(--main-heading);
}

.content-section h2 {
    font-size: 1.125rem;
    font-family: var(--sub-heading);
}

.content-section h1 span {
    font-size: 3rem;
}

.content {
    margin: 0 30px 30px 30px;
}

.content h2 {
    color: #998C93;
}

.content p {
    opacity: 0.9;
}

.work h4 {
    font-weight: bolder;
    color: black;
}

.tracy-pic {
    width: 100%;
    height: auto;
}

.see-project {
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 18px 30px;
    width: 22%;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 38px;
    transition: 200ms;
}

.see-project:hover {
    color: var(--black-color);
    border: 1px solid var(--secondary-color);
    color: #A56C87;
    transform: scale(1.1);
}

h2 {
    font-size: 4rem;
    color: var(--black-color);
    font-family: var(--main-heading);
}




.fa-instagram {
    font-size: 2rem;
    color: black;
}

.fa-instagram:hover {
    opacity: 0.8;
}

.fa-x-twitter {
    font-size: 2rem;
    margin: 0 34px 0 34px;
    color: black;
}

.fa-x-twitter:hover {
    opacity: 0.8;
}

.fa-github {
    font-size: 2rem;
    color: black;
}

.fa-github:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
    text-align: center;
}

 footer .social-icons {
    margin-top: 40px;
 }



.work-section h1{
    color: black;
    margin-bottom: 26px;
 }




.email-link {
    font-size: 1.8rem;
    color: black;
}

.email-link:hover {
    opacity: 0.8;
}


footer {
    padding: 94px 0 48px 0;
}

footer .inquiry-section {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: var(--work-section-bg-color);
    margin: 0 auto;
    width: 70%;
    margin-bottom: 38px;
    border-radius: 8px;
}

footer .work-together {
    display: flex;
    flex-direction: column;
}

footer .work-together h2{
    font-size: 2.8rem;
    font-weight: bold;
}

footer .work-link {
    color: var(--white-color);
    background-color: var(--branding-color);
    padding: 20px 36px;
    margin-top: 12px;
}

footer .work-link:hover {
    color: var(--white-color);
    padding: 20px 36px;
    margin-top: 12px;
    background-color: #941651;
}

@media (max-width: 992px) {
    hero-section p {
        font-size: 1.85rem;
    }

    .hero-section h1 {
        font-size: 2.75rem;
        line-height: 2;
    }

    h5 {
        font-size: 1.0rem;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    h2 {
        font-size: 2.75rem;
        margin-top: 48px;
    }

    .container {
        text-align: center;
    }

    .content-section h1 {
        font-size: 3.5rem;
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 60px;
    }

    .content-section h1 span {
        font-size: 2.5rem;
    }

    .see-project {
        width: 44%;
    }
}

